*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #1c3d63;
    color: #ffffff;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .logo {
    margin-left: 2rem;
    font-size: 1.8rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin-right: 2rem;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #ffffff;
    font-size: 1.1rem;
}

main {
   
    background-size: auto;
    display: flex;
    max-height: 100vh;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.wrapper{
    width: 50%;
    overflow: auto;
}



.container {
    width: 100%;
    max-width: 50%;
    height: 800px;
    background: #1c3d63;
    margin-top: -100px;
    padding: 30px;
    padding-top: 100px;
}

.form-title {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 6px;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 1px white;
}


.main-user-info {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    padding-right: 20px;

}

.user-input-box:nth-child(2n) {
    justify-content: end;
}

.user-input-box {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
    justify-content: space-between;
}

.user-input-box label,
.user-input-box p {
    width: 95%;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;

}

.user-input-box input {
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;

}

input[type="file"] {
    display: none;
}

label[for="file"] {
    color: white;
    height: 40px;
    width: 282px;
    background-color: rgba(56, 204, 93, 0.7);
    position: relative;
    border-radius: 3px;
    justify-content: center;
    display: flex;
    align-items: center;
}

/* gender */
.gender-title {
    color: white;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid white;
}

.gender-category {
    margin: 10px 0;
    color: white;
}

.gender-category label {
    padding: 0 20px 0 5px;
}

.gender-category label,
.gender-category input,
.language-category label,
.language-category input,
.form-submit-btn input {
    cursor: pointer;
}

/* languages */
.language-title {
    color: white;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid white;
}

.language-category {
    margin: 15px 0;
    color: white;
}

.language-category label {
    padding: 0 20px 0 5px;
}


.form-submit-btn {
    margin-top: 40px;
}

.form-submit-btn input {
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: rgb(209, 209, 209);
    background: rgba(63, 114, 76, 0.7);
}

.form-submit-btn input:hover {
    background: rgba(56, 204, 93, 0.7);
    color: rgb(255, 255, 255);
}

@media(max-width: 600px) {
    .container {
        min-width: 280px;
    }

    .user-input-box {
        margin-bottom: 12px;
        width: 100%;
    }

    .user-input-box:nth-child(2n) {
        justify-content: space-between;
    }

    .gender-category {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .main-user-info {
        max-height: 380px;
        overflow: auto;
    }

    .main-user-info::-webkit-scrollbar {
        width: 0;
    }
}


/* Footer */
footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    align-content: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 1%;
}

@media(max-width: 600px) {
    .container {
        min-width: 280px;
    }

    .user-input-box {
        margin-bottom: 12px;
        width: 100%;
    }

    .user-input-box:nth-child(2n) {
        justify-content: space-between;
    }

    .gender-category {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .main-user-info {
        max-height: 380px;
        overflow: auto;
    }

    .main-user-info::-webkit-scrollbar {
        width: 0;
    }
}